<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Email Marketing</li>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i><span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-account-circle"></i><span> Users<span
                                class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="users"><i class="mdi mdi-account-multiple"></i><span></span>All Users</a></li>
                        <li><a href="add"><i class="mdi mdi-account-plus"></i><span></span>Add User</a></li>
                    </ul>
                </li>

                <li>
                    <a href="user-group" class="waves-effect"><i class="mdi mdi-account-multiple-outline"></i><span>
                            User Groups </span></a>
                </li>

                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-apple-keyboard-command"></i><span> Campaign <span
                                class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="all"><i class="mdi mdi-chart-areaspline"></i><span></span>All Campaigns</a></li>
                        <li><a href="new"><i class="mdi mdi-bookmark-plus"></i><span></span>New Campaign</a></li>
                    </ul>
                </li>

                <li>
                    <a href="settings" class="waves-effect"><i class="mdi mdi-settings"></i><span> Settings </span></a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->